/config.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/osuStocks.iml
/.idea/vcs.xml
